<app-navbar></app-navbar>
<div class="container margin-container">
    <h1>DEMOS <small>Angular</small></h1>
</div>
<div class="card m-3">
    <app-ng-style class="m-3"></app-ng-style>
</div>
<div class="card m-3">
   <div class="m-3">
     <app-css></app-css>
     <div>
       <p>Este es un parrafo</p>
     </div>
   </div>
</div>
<div class="card m-3">
    <app-ng-class class="m-3"></app-ng-class>
</div>
<div class="card m-3">
  <app-async class="m-3"></app-async>
</div>
<div class="card m-3">
  <app-directivas class="m-3"></app-directivas>
</div>
<div class="card m-3">
  <app-ng-switch class="m-3"></app-ng-switch>
</div>
<div class="card m-3">
  <!--<app-rutas class="m-3"></app-rutas>-->
  <router-outlet class="m-3"></router-outlet>
</div>
