<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
  <div class="container-fluid">
    <a class="navbar-brand" href="#">Demos</a>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarNav">
      <ul class="navbar-nav">
        <li class="nav-item" routerLinkActive="active">
          <a class="nav-link" aria-current="page" [routerLink]="['Home']">Home</a>
        </li>
        <li class="nav-item" routerLinkActive="active">
          <a class="nav-link"  [routerLink]="['Usuario',10]">Usuarios</a>
        </li>
       <!-- <li class="nav-item">
          <a class="nav-link" href="#">Usuarios Nuevo</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="#">Detalle</a>
        </li>-->
      </ul>
    </div>
  </div>
</nav>
