<div class="row mt-5">
    <div class="col">
        <h1>*ngIf</h1>
        <hr>
        <div class="card text-white bg-success mb-3 col-12" style="max-width: 18rem;" *ngIf="mostrar">
            <div class="card-body">
                <h5 class="card-title">{{ frase.MENSAJE }}</h5>
                <p class="card-text">{{ frase.AUTOR }}</p>
            </div>
        </div>
        <div class="d-grid gap-2 col-12 mx-auto">
            <button class="btn btn-outline-success" type="button" (click)="mostrar = !mostrar ">Mostrar/Ocultar</button>
        </div>
    </div>
    <div class="col">
        <h1>*ngFor</h1>
        <hr>
        <ul class="list-group">
            <li class="list-group-item" *ngFor="let reg of personajes; let i = index">{{i +1 }}. {{reg}}</li>
        </ul>
    </div>
</div>
