<nav class="navbar navbar-expand-md navbar-dark bg-dark">
    <div class="container-fluid">
        <a class="navbar-brand" href="#">
            <img src="assets/img/banner-ico.png" alt="" height="28px" width="30px">
            Spoti-App
        </a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation"><span class="navbar-toggler-icon"></span></button>
        <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav me-auto mb-2 mb-lg-0">
                <li class="nav-item" routerLinkActive="active"><a class="nav-link" routerLink="home">Incio</a></li>
                <li class="nav-item" routerLinkActive="active"><a class="nav-link" routerLink="search">Buscar</a></li>
            </ul>
        </div>
    </div>
</nav>
<!--https://restcountries.com/-->
