<h4>Formularios <small> Templates </small></h4>
<hr>
<div class="d-flex align-items-center mb-4" *ngIf="validacion.FRM_VALIDATE">
  <strong>Espere un momento por favor, el formulario se esta cargando...</strong>
  <div class="spinner-border text-info ms-auto" role="status" aria-hidden="true"></div>
</div>
<form class="mb-3" autocomplete="off" #frmTemplate="ngForm" (ngSubmit)="guardar( frmTemplate )" >
  <div>
    <div class="form-group row">
      <label class="col-2 col-form-label">Nombre</label>
      <div class="col-8 m-3">
        <div class="form-floating">
          <input type="text" class="form-control" [class.is-invalid]="nombre.invalid && nombre.touched" id="nombre" name="nombre" #nombre="ngModel" placeholder="Nombre del usuario" minlength="5" [ngModel]="parametros.NOMBRE" required>
          <label for="nombre">Nombre completo</label>
          <small class="form-text text-danger" *ngIf="nombre.invalid && nombre.touched">Campo requerido<br></small>
          <small class="form-text text-danger" *ngIf="nombre.invalid && nombre.touched">Debe de ingresar al menos 5 caracteres</small>
        </div>
      </div>
    </div>
    <div class="form-group row">
      <label class="col-2 col-form-label">Apellido</label>
      <div class="col-8 m-3">
        <div class="form-floating">
          <input type="text" class="form-control" [class.is-invalid]="apellidos.invalid && apellidos.touched" id="apellido" name="apellido" placeholder="Apellidos" #apellidos="ngModel" minlength="5" [ngModel]="parametros.APELLIDOS" required>
          <label for="apellido">Apellidos</label>
          <small class="form-text text-danger" *ngIf="apellidos.invalid && apellidos.touched">Campo requerido<br></small>
          <small class="form-text text-danger" *ngIf="apellidos.invalid && apellidos.touched">Debe de ingresar al menos 5 caracteres</small>
        </div>
      </div>
    </div>
    <div class="form-group row">
      <label for="cve_pais" class="col-2 col-form-label">Pais</label>
      <div class="col-8 m-3">
        <div class="form-floating">
          <select class="form-select" [class.is-invalid]="paises.invalid && paises.touched" [disabled]="catpaises.length == 0"  id="cve_pais" name="cve_pais" aria-label="Floating label select example" #paises="ngModel" [ngModel]="parametros.PAIS" required>
            <option *ngFor="let pais of catpaises; let i = index; " value="{{ pais.codigo }}">
              {{ pais.nombre }}
            </option>
          </select>
          <label for="cve_pais">Pais</label>
          <small class="form-text text-danger" *ngIf="paises.invalid && paises.touched">Campo requerido<br></small>
        </div>
      </div>
    </div>
    <div class="form-group row">
      <label for="cve_pais" class="col-2 col-form-label">Genero</label>
      <div class="col-8 m-3">
        <div class="form-check form-check-inline">
          <input class="form-check-input" [class.is-invalid]="genero.invalid && genero.touched" type="radio" name="opt_genero" id="opt_genero_1" value="Femenino" #genero="ngModel" [ngModel]="parametros.GENERO" required>
          <label class="form-check-label" for="opt_genero_1">Femenino</label>
        </div>
        <div class="form-check form-check-inline">
          <input class="form-check-input" [class.is-invalid]="genero.invalid && genero.touched" type="radio" name="opt_genero" id="opt_genero_2" value="Macuslino" #genero="ngModel" [ngModel]="parametros.GENERO" required>
          <label class="form-check-label" for="opt_genero_2">Masculino</label>
        </div>
        <small class="form-text text-danger" *ngIf="genero.invalid && genero.touched">Selecciona al menos una opci&oacute;n<br></small>
      </div>
      {{ parametros.GENERO }}
    </div>
   <!-- <div class="form-group row">
      <label for="exampleDataList" class="col-2 col-form-label">Paises</label>
      <div class="col-8 m-3">
        <input class="form-control" list="datalistOptions" id="exampleDataList" placeholder="Escribe para buscar...">
        <datalist id="datalistOptions">
          <option value="San Francisco">
          <option value="New York">
          <option value="Seattle">
          <option value="Los Angeles">
          <option value="Chicago">
        </datalist>
      </div>
    </div>-->
  </div>
  <div class="form-group row">
    <label class="col-2 col-form-label">Correo</label>
    <div class="col-8 m-3">
      <div class="form-floating">
        <input type="email" class="form-control" [class.is-invalid]="correo.invalid && correo.touched" id="correo" name="correo" placeholder="Password" #correo="ngModel" pattern="{{validacion.EMAIL_PATTERN}}" [ngModel]="parametros.EMAIL" required>
        <label for="correo">Correo Electr&oacute;nico</label>
        <small class="form-text text-danger"  *ngIf="correo.invalid && correo.touched">Campo requerido</small>
      </div>
    </div>
  </div>
  <div class="form-group row ">
    <div class="d-grid gap-1 col-5 mx-auto container">
      <button class="btn btn-primary" [class.disabled]="validacion.FRM_VALIDATE" type="submit">Guardar</button>
    </div>
  </div>
</form>
