<h1 class="mt-4">H&eacute;roes <small>Marvel y DC Comic</small></h1>
<hr>
<div class="row row-cols-1 row-cols-md-3 g-4 mt-5 animated fastIn fast">
    <!--Reutilización de Componentes por Nodos-->
    <div class="col" *ngFor="let data of heroes; let i = index">
          <app-heroe-tarjeta (hereoSeleccioando)="verHeroe( $event )" [tgHeroe]="data" [indice]="i"></app-heroe-tarjeta>
    </div>
</div>
<!--<div class="row row-cols-1 row-cols-md-3 g-4 mt-5 animated fastIn fast">
    &lt;!&ndash;{{}} Usar Interpolación de AngularJs o usar lleves para indicar que este elemento será utilizado por Angular ej. [src]=" variable.DATA"&ndash;&gt;
    <div class="col" *ngFor="let reg of heroes; let i = index">
        <div class="card h-100" >
            <img [src]="reg.img" class="card-img-top" [alt]="reg.nombre">
            <div class="card-body mt-2">
                <h5 class="card-title">{{ reg.nombre }}</h5>
                <p class="card-text">{{ reg.bio }}</p>
            </div>
            <div class="d-grid gap-2 col-10 mx-auto mt-4 mb-4">
                <button class="btn btn-outline-primary" type="button" (click)="verHeroe( i )">Ver m&aacute;s</button>
            </div>
            &lt;!&ndash;<a class="btn btn-outline-primary" [routerLink]="['/heroe',i]" >Ver m&aacute;s</a>&ndash;&gt;
            <div class="card-footer">
              <small class="text-muted">{{ reg.aparicion }}</small>
            </div>
        </div>
    </div>
</div>-->


