<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
  <div class="container-fluid">
    <a class="navbar-brand" href="#">AUTH0</a>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarText" aria-controls="navbarText" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarText">
      <ul class="navbar-nav me-auto mb-2 mb-lg-0">
        <li class="nav-item" routerLinkActivate="active">
          <a class="nav-link active" aria-current="page" [routerLink]="['home']">Home</a>
        </li>
        <li class="nav-item" routerLinkActivate="active">
          <a class="nav-link" [routerLink]="['precios']">Precios</a>
        </li>
        <li class="nav-item" routerLinkActivate="active" *ngIf="auth.isAuthenticated$ | async;">
          <a class="nav-link" [routerLink]="['protegida']">Protegida</a>
        </li>
      </ul>
      <span class="navbar-text">
         <ng-container *ngIf="auth.isAuthenticated$ | async; else loggedOut">
          <button class="btn btn-danger btn-sm m-1" (click)="auth.logout({ returnTo: document.location.origin })">Cerrar Sesión</button>
        </ng-container>
        <ng-template #loggedOut>
          <button class="btn btn-success btn-sm m-1" (click)="auth.loginWithRedirect()">Iniciar Sesión</button>
        </ng-template>
      </span>
    </div>
  </div>
</nav>

