
<h3 class="mt-4 mb-4">{{hereo.nombre | uppercase }} <span class="badge bg-secondary">{{hereo.aparicion | date: 'y' }}</span></h3>
<div class="row animated fadeIn">
    <div class="col-xl-6 mb-3">
      <div class="card mt-5 col-12 mb-3 container" >
        <div class="row g-5">
          <div class="col-md-12">
            <img [src]="hereo.img" class="img-fluid rounded-start" [alt]="hereo.nombre">
            <h5 class="card-title">{{hereo.nombre}}</h5>
          </div>
        </div>
      </div>
    </div>
    <div class="col-xl-1"></div>
    <div class="col-xl-5">
      <div class="container">
        <div class="col-md-12">
          <div class="card-body">
            <h5 class="card-title">{{hereo.nombre}}</h5>
            <p class="card-text">{{hereo.bio}}</p>
            <p class="card-text"><small class="text-muted">{{hereo.aparicion}}</small></p>
          </div>
        </div>
        <div class="container">
          <img *ngIf="hereo.casa == 'DC'" src="../../../assets/img/dclogo.png" class="img-fluid rounded-start" width="300" height="300">
          <img *ngIf="hereo.casa == 'Marvel'" src="../../../assets/img/marvellogo.png" class="img-fluid rounded-start" [alt]="hereo.nombre" width="3840" height="2160">
        </div>
        <div class="d-grid gap-2 col-10 mx-auto mt-4 mb-4">
          <button class="btn btn-outline-info" type="button" (click)="regresar()">Regresar</button>
        </div>
      </div>
    </div>
</div>
