<div class="row container">
  <h3 class="mb-4 mt-4">Desde el componente de Directivas personalidas</h3>
  <div class="col-10 container">
    <!--<p [appResaltado]="'orange'">Hola mundo</p>-->
    <h3><p [appResaltado]="'orange'">Hola mundo</p></h3>
  </div>
</div>
