<div class="mt-5 animate fadeIn">
  <h1>Sobre Comic Apps</h1>
  <hr>
  <p>
    Lorem ipsum dolor sit amet, consectetur adipisicing elit. Illo quaerat, sapiente. Ab accusamus assumenda dolorem dolores laborum nemo nulla, veniam voluptas. Amet fuga id, natus odit officiis quaerat vel voluptatum.
  </p>
</div>
