<div class="row container">
  <h3 class="mb-4 mt-4">Desde el componente de ng-class</h3>
  <div class="col-10 container">
      <div [class]="alerta" role="alert">Algún mensaje en particular de notificación</div>
  </div>
  <div class="col-10 container">
      <div class="row">
          <div class="col-sm-4">
              <div class="form-check">
                  <input class="form-check-input" type="radio" name="flexRadioDefault" id="flexRadioDefault1" (click)="alerta = 'alert alert-success'" checked>
                  <label class="form-check-label" for="flexRadioDefault1">Cambiar a success</label>
              </div>
          </div>
          <div class="col sm-4">
              <div class="form-check">
                  <input class="form-check-input" type="radio" name="flexRadioDefault" id="flexRadioDefault2" (click)="alerta = 'alert alert-warning'" >
                  <label class="form-check-label" for="flexRadioDefault2">Cambiar a Warning</label>
              </div>
          </div>
          <div class="col-sm-4">
              <div class="form-check">
                  <input class="form-check-input" type="radio" name="flexRadioDefault" id="flexRadioDefault3" (click)="alerta = 'alert alert-danger'" >
                  <label class="form-check-label" for="flexRadioDefault3">Cambiar a Danger</label>
              </div>
           </div>
          <hr class="mt-3">
      </div>
  </div>
  <div class="col-10">
    <!--[ngClass]=" { 'text-danger' :  !propiedades.danger, 'text-success' : propiedades.danger } "-->
      <!--<h3 [ngClass]=" { 'text-danger' : propiedades.danger, 'text-danger' : !propiedades.danger }">Hola mundo desde el componente ng-class</h3>-->
      <h3 [ngClass]=" { 'text-success' : propiedades['danger'], 'text-danger' : !propiedades['danger'] }">Hola mundo desde el componente ng-class  propiedades['danger']</h3>
      <h3 [ngClass]=" { 'text-success' : propiedades.danger, 'text-danger' : !propiedades.danger }">Hola mundo desde el componente ng-class propiedades.danger</h3>
      <div class="row mt-2">
          <div class="col-sm-6">
            <h4>Por Validación 1</h4>
            <hr>
            <button class="btn btn-danger m-1" (click)="propiedades.danger = false;"><i class="fas fa-skull-crossbones"></i></button>
            <button class="btn btn-success m-1" (click)="propiedades.danger = true;"><i class="fas fa-thumbs-up"></i></button>
          </div>
          <div class="col-sm-6">
            <h4>Por Validación 2</h4>
            <hr class="mt-3">
            <button class="btn m-1" [ngClass]="{'btn-success ' :  propiedades.danger, 'btn-danger' : !propiedades.danger}" (click)="propiedades.danger = !propiedades.danger;"><i class="fas " [ngClass]="{'fa-thumbs-up':propiedades.danger, 'fa-skull-crossbones': !propiedades.danger}"></i></button>
          </div>
      </div>
      <hr class="mt-3">
  </div>
</div>
