<ion-header [translucent]="true" class="ion-no-border">
    <ion-toolbar color="primary">
        <ion-title>
            Lista de deseos
        </ion-title>
    </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true" color="dark">
    <ion-list color="dark">
        <ion-item *ngFor="let reg of _deseosService.lista " color="dark" detail>
            <ion-label>{{ reg.TITULO }}</ion-label>
        </ion-item>
    </ion-list>
    <ion-fab vertical="bottom" horizontal="end" slot="fixed">
        <ion-fab-button class="tertiary" (click)="agregarlista()" >
          <ion-icon name="add"></ion-icon>
        </ion-fab-button>
    </ion-fab>


</ion-content>

