<div class="row container">
  <h3 class="mb-4 mt-4">Desde el componente de async</h3>
  <div class="col-10 container">
    <button class="btn btn-success m-2" [ngClass]="{'disabled':working }" (click)="ejecutar()"><i class="far fa-1x m-2 " [ngClass]="{' fa-save' : !working, 'fas fa-spinner fa-spin' : working }" style="font-size: 1.32rem"></i>Guardar cambios</button>
    <button class="btn btn-success m-2" [disabled]="working" (click)="ejecutar()">
      <i class="far fa-1x m-2 " [ngClass]="{' fa-save' : !working, 'fas fa-spinner fa-spin' : working }" style="font-size: 1.32rem"></i>
      <span *ngIf="!working">Guardar cambios</span>
      <span *ngIf="working">Espere por favor...</span>
    </button>
  </div>
</div>
