<h1 class="mt-3">Pipes <small>Angular</small></h1>
<hr>
<div class="row">
    <div class="col">
        <table class="table">
            <thead class="thead-dark">
                <tr>
                    <th> Variable </th>
                    <th> Pipe </th>
                    <th> Salida </th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <td> {{ nombre }} </td>
                    <td> uppercase </td>
                    <td>  {{ nombre | uppercase }}  </td>
                </tr>
                <tr>
                    <td> {{ nombre }} </td>
                    <td> Personalidado/capitalizdo </td>
                    <td>  {{ nombre_2 | capitalizado : false }}  </td>
                </tr>
                <tr>
                    <td> {{ nombre }} </td>
                    <td> lowercase </td>
                    <td>  {{ nombre | lowercase }}  </td>
                </tr>
                <tr>
                    <td> {{ nombre }} </td>
                    <td> slice:3 </td>
                    <td>  {{ nombre | slice:3 }}  </td>
                </tr>
                <tr>
                    <td> {{ nombre }} </td>
                    <td> slice0:3 </td>
                    <td>  {{ nombre | slice:0:3 }}  </td>
                </tr>
                <tr>
                    <td> {{ arreglo }} </td>
                    <td> slice1:3 </td>
                    <td>  {{ arreglo | slice:1:5 }}  </td>
                </tr>
                <tr>
                    <td> {{ pi }} </td>
                    <td> number </td>
                    <td>  {{ pi | number }}  </td>
                </tr>
                <tr>
                    <td> {{ pi }} </td>
                    <td> number </td>
                    <td>  {{ pi | number:'1.0-0' }}  </td>
                </tr>
                <tr>
                    <td> {{ pi }} </td>
                    <td>  number:'3.0-0' </td>
                    <td>  {{ pi | number:'3.0-0' }}  </td>
                </tr>
                <tr>
                    <td> {{ pi }} </td>
                    <td> number:'.0-2' </td>
                    <td>  {{ pi | number:'.0-2' }}  </td><!--Pipe Decimal-->
                </tr>
                <tr>
                    <td> {{ porcentaje }} </td>
                    <td> percent </td>
                    <td>  {{ porcentaje | percent }}  </td><!--Pipe Porcetual-->
                </tr>
                <tr>
                    <td> {{ porcentaje }} </td>
                    <td> percent:'2.2-2' </td>
                    <td>  {{ porcentaje | percent:'2.2-2' }}  </td><!--Pipe Porcetual-->
                </tr>
                <tr>
                    <td> {{ salario }} </td>
                    <td> currency </td>
                    <td>  {{ salario | currency }}  </td><!--Pipe Currency Signo de pesos $-->
                </tr>
                <tr>
                    <td> {{ salario }} </td>
                    <td> currency:'CAD':'symbol-narrow':'.0-0' </td>
                    <td>  {{ salario | currency:'CAD':'symbol-narrow':'.0-0' }}  </td><!--Pipe Currency Signo de pesos $-->
                </tr>
                <tr>
                    <td> {{ salario }} </td>
                    <td> currency:'CAD':'symbol-narrow':'.0-0' </td>
                    <td>  {{ salario | currency:'CAD':'symbol-narrow':'.0-0' }}  </td><!--Pipe json-->
                </tr>
                <tr>
                    <td> {{ valorPromesa }} </td>
                    <td> async </td>
                    <td>  {{ valorPromesa | async }}  </td><!--Pipe async, permite trabajar con los observables y/o promesas-->
                </tr>
                <tr>
                    <td> {{ fecha }} </td>
                    <td> date </td>
                    <td>  {{ fecha | date }}  </td><!--Pipe date-->
                </tr>
                <tr>
                    <td> {{ fecha }} </td>
                    <td> date </td>
                    <td>  {{ fecha | date:'medium' }}  </td><!--Pipe date medium-->
                </tr>
                <tr>
                    <td> {{ fecha }} </td>
                    <td> date </td>
                    <td>  {{ fecha | date:'short' }}  </td><!--Pipe short-->
                </tr>
                <tr>
                    <td> {{ fecha }} </td>
                    <td> date </td>
                    <td>  {{ fecha | date:'dd/MM/Y' }}  </td><!--Pipe personalidado-->
                </tr>
                <tr>
                    <td> {{ fecha }} </td>
                    <td> date </td>
                    <td>  {{ fecha | date:'dd/MM/Y' }}  </td><!--Pipe personalidado-->
                </tr>
                <tr>
                    <td> {{ fecha }} </td>
                    <td>
                        <div class="row text-center">
                            <label for="" class="col-sm-12 mb-4">{{ idioma_lbl }}</label>
                            <div class="row col-sm-12">
                                <button class="btn btn-primary btn-sm col-3" (click)="cambiar_idioma( 1 )">Español</button>
                                <div class="col-1"></div>
                                <button class="btn btn-secondary btn-sm col-3" (click)="cambiar_idioma( 2 )">Ingl&eacute;s</button>
                                <div class="col-1"></div>
                                <button class="btn btn-success btn-sm col-3" (click)="cambiar_idioma( 3 )">Franc&eacute;s</button>
                            </div>
                            <div class="row col-sm-12 mt-2">
                                <button class="btn btn-primary btn-sm col-3" (click)="idioma = 'es'">Español</button>
                                <div class="col-1"></div>
                                <button class="btn btn-secondary btn-sm col-3" (click)="idioma = 'en'">Ingl&eacute;s</button>
                                <div class="col-1"></div>
                                <button class="btn btn-success btn-sm col-3" (click)="idioma = 'fr'">Franc&eacute;s</button>
                            </div>
                        </div>
                    </td>
                    <td>  {{ fecha | date:'MMMM - dd': '' : idioma }}  </td><!--Pipe personalidado-->
                </tr>
            </tbody>
        </table>

        <h4 class="mt-4"> Slice </h4>
        <hr>
        <ul class="list-group">
              <li class="list-group-item" *ngFor="let reg of arreglo | slice:5:20">{{ reg }}</li>
        </ul>
        <h4 class="mt-4">Json | json</h4>
        <hr>
        <div class="col mb-4">
            <pre>
                {{ heroe | json }}
            </pre>
        </div>
    </div>
</div>
<hr>
<h3 class="mt-4"> Domseguro </h3>
<div class="row mb-5">
    <div class="col mt-2">
        <iframe width="660"
                height="415"
                [src]="videoURL | domseguro"
                frameborder="0"
                allow="accelerometer; autopalay; encryted-media; gyroscope; picture-inpicture"
                allowfullscreen>
        </iframe>
    </div>
</div>

<br><br>
<h3>Examén</h3>
<div class="row">
    <div class="col">
         <table class="table">
              <thead class="thead-dark">
                  <tr>
                      <th>Variable</th>
                      <th>Pipi</th>
                      <th>Salida</th>
                  </tr>
              </thead>
              <tbody>
                  <tr>
                      <td>Capita&eacute;m Am&eacute;rica</td>
                      <td>
                          <div class="row text-center container">
                                <label for="" class="col-sm-12 mb-4 text-center">Constraseña : {{ activar }}</label>
                                <div class="row col-sm-12 mt-2 text-center">
                                    <button class="btn btn-primary btn-sm col-3" (click)="showpassword()">{{lbl_btn_1}}</button>
                                </div>
                            </div>
                      </td>
                      <td>  {{ password  | password : activar }}  </td>
                  </tr>
              </tbody>
        </table>
    </div>
</div>
<br/><br/>
