<div class="card h-100" >
    <img [src]="tgHeroe.img" class="card-img-top" [alt]="tgHeroe.nombre">
    <div class="card-body mt-2">
        <h5 class="card-title">{{ tgHeroe.nombre }}</h5>
        <p class="card-text">{{ tgHeroe.bio }}</p>
    </div>
    <div class="d-grid gap-2 col-10 mx-auto mt-4 mb-4">
        <button class="btn btn-outline-primary" type="button" (click)="verHeroe()">Ver m&aacute;s</button>
    </div>
     <!--<a class="btn btn-outline-primary" [routerLink]="['/heroe',i]" >Ver m&aacute;s</a>-->
    <div class="card-footer">
        <small class="text-muted">{{ tgHeroe.aparicion }}</small>
    </div>
</div>
