<div class="btn-group" role="group" aria-label="Basic example">
  <button type="button" class="btn btn-primary" routerLinkAtive="active" [routerLink]="['nuevo']">Nuevo</button>
  <button type="button" class="btn btn-primary" routerLinkAtive="active" [routerLink]="['editar']">Editar</button>
  <button type="button" class="btn btn-primary" routerLinkAtive="active" [routerLink]="['detalle']">Detalle</button>
</div>
<router-outlet></router-outlet>
