<div class="limiter animated fadeInLeft">
    <div class="container-login100">
        <div class="wrap-login100 p-t-50 p-b-90 ">
            <form class="login100-form validate-form flex-sb flex-w" #frm_login = "ngForm">
                <span class="login100-form-title p-b-51">Login</span>
                <span *ngIf="usuario.EMAIL == null" class="text-danger animated fadeIn">Ingrese un usuario valido</span>
                <div class="wrap-input100 m-b-16">
                    <input class="input100" type="text" name="username" [(ngModel)]="usuario.EMAIL" placeholder="Usuario (Email)" required>
                    <span class="focus-input100"></span>
                </div>
                <span *ngIf="usuario.PASSWORD == null || usuario.PASSWORD == '' " class="text-danger animated fadeIn">Ingrese su clave de acceso</span>
                <div class="wrap-input100 m-b-16" data-validate = "Password is required">
                    <input class="input100" type="password" name="pass" [(ngModel)]="usuario.PASSWORD" placeholder="Password" required>
                    <span class="focus-input100"></span>
                </div>
                <div class="flex-sb-m w-full p-t-3 p-b-24">
                    <div class="contact100-form-checkbox">
                        <input [(ngModel)]="recordar" class="input-checkbox100" id="ckb1" type="checkbox" name="remember-me">
                        <label class="label-checkbox100" for="ckb1">Recordar mi usuario</label>
                    </div>
                    <div>
                        <a routerLink="/registro" class="txt1">¿No tienes cuenta?</a>
                    </div>
                </div>
                <div class="container-login100-form-btn m-t-17" >
                    <button class="login100-form-btn" type="submit" aria-disabled="true" (click)="login(frm_login)" > Ingresar</button>
                </div>
            </form>
        </div>
    </div>
</div>

