<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
    <div class="container-fluid">
        <a class="navbar-brand" href="#">
          <img src="assets/img/A-64.png" alt="" width="30" height="24">
        </a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation"><span class="navbar-toggler-icon"></span></button>
        <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav me-auto mb-2 mb-lg-0">
                <li class="nav-item" routerlinkActive="active">
                    <a class="nav-link" [routerLink]="['home']" >Inicio</a>
                </li>
                <li class="nav-item" routerlinkActive="active">
                    <a class="nav-link" [routerLink]="['heroes']">Heroes</a>
                </li>
                <li class="nav-item" routerlinkActive="active">
                    <a class="nav-link" [routerLink]="['about']">Acerca de</a>
                </li>
            </ul>
            <form class="d-flex">
                <input class="form-control me-2" type="search" placeholder="Buscar h&eacute;roe" aria-label="Search" (keyup.enter)="buscarHeroe( buscarTexto.value )" #buscarTexto>
                <button class="btn btn-outline-primary" type="button" (click)="buscarHeroe( buscarTexto.value )" >Buscar</button>
            </form>
        </div>
    </div>
</nav>
<svg xmlns="http://www.w3.org/2000/svg" style="display: none;" >
  <symbol id="exclamation-triangle-fill" fill="currentColor" viewBox="0 0 16 16">
    <path d="M8.982 1.566a1.13 1.13 0 0 0-1.96 0L.165 13.233c-.457.778.091 1.767.98 1.767h13.713c.889 0 1.438-.99.98-1.767L8.982 1.566zM8 5c.535 0 .954.462.9.995l-.35 3.507a.552.552 0 0 1-1.1 0L7.1 5.995A.905.905 0 0 1 8 5zm.002 6a1 1 0 1 1 0 2 1 1 0 0 1 0-2z"/>
  </symbol>
</svg>
<div class="alert alert-info d-flex align-items-center" role="alert" *ngIf="bandera">
  <svg class="bi flex-shrink-0 me-2" width="24" height="24" role="img" aria-label="Warning:"><use xlink:href="#exclamation-triangle-fill"/></svg>
  <div>
      No se han encontrado datos con la búsqueda anterior.
  </div>
</div>
