<!--
 Ejemplo de como solicitar una petición  .get
  <ul>
    <li *ngFor="let pais of paises">
        {{ pais.name.common }}  - {{ pais.population | number }}
    </li>
</ul>-->
<!--  <div class="row row-cols-1 row-cols-md-3 g-4 text-center">
      <div class="col-lg-4" *ngFor="let cancion of nuevas_canciones; let i = index;" >
          <div class="card">
              <img [src]="cancion.images[1].url" class="card-img-top" alt="...">
              <div class="card-body">
                <h5 class="card-title">{{ cancion.name }}</h5>
                <p class="card-text"><span *ngFor="let artista of cancion.artists; let j = index;" class="badge rounded-pill bg-info text-dark" style="font-size: 14px;">{{ artista.name }}</span></p>
              </div>
          </div>
      </div>
  </div>-->
<div class="d-flex justify-content-center mb-5 animated fadeIn" *ngIf="loading">
    <div class="spinner-border" role="status" style="height: 65px; width:65px;">
      <span class="visually-hidden">Loading...</span>
    </div>
</div>
<div class="alert alert-danger d-flex align-items-center" role="alert" *ngIf="dataError">
    <svg class="bi flex-shrink-0 me-2" width="24" height="24" role="img" aria-label="Danger:"><use xlink:href="#exclamation-triangle-fill"/></svg>
    <div>{{ mensaje_error }}</div>
</div>
<app-tarjetas [items_target]="nuevas_canciones"></app-tarjetas>
