<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
  <div class="container-fluid">
    <a class="navbar-brand" href="#">Formularios</a>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNavDropdown" aria-controls="navbarNavDropdown" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarNavDropdown">
      <ul class="navbar-nav">
        <li class="nav-item" routerlinkActive="active">
          <a class="nav-link" [routerLink]="['template']">Templates</a>
        </li>
        <li class="nav-item" routerlinkActive="active">
          <a class="nav-link" [routerLink]="['reactive']" >Reactivos</a>
        </li>
      </ul>
    </div>
  </div>
</nav>
