
<div class="text-center" *ngIf="loading">
    <div class="spinner-border" role="status" style="height: 65px; width: 65px;"  >
        <span class="visually-hidden">Loading...</span>
    </div>
</div>
<div class="row animated fadeIn" *ngIf="!loading">
    <div class="col-2">
      <img [src]="artista.images[1] | validarImg" alt="" class="img-circle">
    </div>
    <div class="col">
        <h3>{{ artista.name  }}</h3>
        <p><a [href]="artista.external_urls.spotify" target="_blank">Ir a la página del artista</a></p>
    </div>
    <div class="col-4 text-rigth">
          <button class="btn btn-outline-danger" routerLink="/search">Regresar</button>
    </div>
</div>
<div class="row animated fadeIn m-5" *ngIf="!loading">
    <div class="col-12">
        <table class="table table-sm " style="color: aliceblue; font-size: 22px;">
            <thead>
                <tr>
                    <th>#</th>
                    <th>Foto</th>
                    <th>&Aacute;lbum</th>
                    <th>Canci&oacute;n</th>
                    <th>Vista Previa</th>
                </tr>
            </thead>
            <tbody>
                <tr *ngFor="let reg of toptracks; let i = index;">
                    <td class="text-center">{{ i + 1  }}</td>
                    <td class="text-center"> <img [src]="reg.album.images[1] | validarImg" alt="" class="img-thumb"></td>
                    <td class="text-rigth">{{ reg.album.name }}</td>
                    <td class="text-rigth">{{ reg.name }}</td>
                    <!--<td class="text-center"><audio [src]="reg.preview_url" controls></audio></td>-->
                    <td class="text-center"><iframe [src]="reg.uri | dominioseguro" width="300" height="80" frameborder="0" allowtransparency="true" allow="encrypted-media"></iframe></td>
                </tr>
            </tbody>
        </table>
    </div>
</div>

