<h4>Formularios <small> Reactivos </small></h4>
<hr>
<form autocomplete="off" [formGroup]="frm_reactive">
  <div>
    <div class="form-group row">
      <label class="col-2 col-form-label">Nombre</label>
      <div class="col m-3">
        <div class="form-floating">
          <input type="text" class="form-control" id="nombre" name="nombre" placeholder="Nombre del usuario" minlength="5" formControlName="NOMBRE" [class.is-invalid]="nombreValido" >
          <label for="nombre">Nombre completo</label>
          <small class="form-text text-danger" *ngIf="nombreValido">Campo Requerido<br></small>
          <small class="form-text text-danger" *ngIf="nombreValido">Debe de ingresar al menos 5 caracteres<br></small>
        </div>
      </div>
    </div>
    <div class="form-group row">
      <label class="col-2 col-form-label">Apellidos</label>
      <div class="col m-3">
        <div class="form-floating">
          <input type="text" class="form-control" id="apellidos" name="apellidos" placeholder="Apellidos" minlength="5" formControlName="APELLIDO" [class.is-invalid]="appValido">
          <label for="apellidos">Apellidos</label>
          <small class="form-text text-danger" *ngIf="appValido">Campo Requerido<br></small>
          <small class="form-text text-danger" *ngIf="appValido">Debe de ingresar al menos 5 caracteres<br></small>
        </div>
      </div>
    </div>
  </div>
  <div class="form-group row">
    <label class="col-2 col-form-label">Correo</label>
    <div class="col m-3">
      <div class="form-floating">
        <input type="text" class="form-control" id="email" name="email" placeholder="Email" formControlName="CORREO" [class.is-invalid]="emailValido">
        <label for="email">Email</label>
        <small class="form-text text-danger" *ngIf="emailValido">Campo Requerido</small>
      </div>
    </div>
  </div>
  <div class="form-group row">
    <label class="col-2 col-form-label">Usuario</label>
    <div class="col m-3">
      <div class="form-floating">
        <input type="text" class="form-control" id="seg_usuario" name="seg_usuario" placeholder="Usuarios" minlength="5" formControlName="SEG_USUARIO" [class.is-invalid]="usuarioValido">
        <label for="apellidos">Usuario</label>
        <small class="form-text text-danger" *ngIf="usuarioValido">Este usuario ya ha sido registro<br></small>
      </div>
    </div>
  </div>
  <div class="form-group row" >
    <label class="col-2 col-form-label">Password</label>
    <div class="col-10 row">
      <div class="col m-3">
        <div class="form-floating">
          <input type="text" class="form-control" id="password_1" name="password_1" placeholder="Password" formControlName="PASSWORD_1" [class.is-invalid]="passwordValido">
          <label for="password_1">Password</label>
          <small class="form-text text-danger" *ngIf="passwordValido">Campo Requerido</small>
        </div>
      </div>
      <div class="col mt-3">
        <div class="form-floating">
          <input type="text" class="form-control" id="password_2" name="password_2" placeholder="Confirmar Password" formControlName="PASSWORD_2" [class.is-invalid]="confirmPassword">
          <label for="password_2">Confirmar Password</label>
          <small class="form-text text-danger" *ngIf="confirmPassword">Campo Requerido<br></small>
          <!--<small class="form-text text-danger" *ngIf="confirmPassword">La confirmaci&oacute;n de contraseña no coinciden</small>-->
        </div>
      </div>
    </div>
  </div>
  <div class="form-group row" formGroupName="DIRECCION">
    <label class="col-2 col-form-label">Direcci&oacute;n</label>
    <div class="col-10 row">
      <div class="col m-3">
        <div class="form-floating">
          <input type="text" class="form-control" id="distrito" name="distrito" placeholder="Email" formControlName="DISTRITO" [class.is-invalid]="distritoValido">
          <label for="distrito">Distrito</label>
          <small class="form-text text-danger" *ngIf="distritoValido">Campo Requerido</small>
        </div>
      </div>
      <div class="col mt-3">
        <div class="form-floating">
          <input type="text" class="form-control" id="direccion" name="direccion" placeholder="Email" formControlName="CIUDAD" [class.is-invalid]="ciudadValido">
          <label for="direccion">Ciudad</label>
          <small class="form-text text-danger" *ngIf="ciudadValido">Campo Requerido</small>
        </div>
      </div>
    </div>
  </div>
  <div class="row mt-3">
    <div class="col">
      <table class="table">
        <thead class="table-dark">
          <tr>
            <th scope="col">#</th>
            <th scope="col">Pasatiempo</th>
            <th scope="col">Borrar</th>
          </tr>
        </thead>
        <tbody formGroupName="PASATIEMPOS">
          <tr *ngFor="let reg of pasatiempos.controls; let i = index;">
            <th scope="row">{{ i + 1 }}</th>
            <td><input type="text" class="form-control" id="idx_pasatiempo" name="idx_pasatiempo" [formControlName]="i"></td>
            <td><button class="btn btn-danger btn.sm" type="button" (click)="borrarPasatiempo( i )">Borrar</button></td>
          </tr>
        </tbody>
      </table>
      <button class="btn btn-success me-md-2 btn-block" type="button" (click)="agregarPasatiempo()">+ Agregar</button>
    </div>
  </div>
  <div class="d-grid gap-2 d-md-flex justify-content-md-end m-3 mb-3">
    <button class="btn btn-success me-md-2" type="button" (click)="guardar()">Guardar</button>
    <button class="btn btn-primary" type="button" (click)="asignarValor()">Editar (Asigar Valor)</button>
    <button class="btn btn-danger" type="button" (click)="limpiarFormulario()">Limpiar</button>
  </div>
</form>
<hr>
<pre>
    Estado del Formularo  {{ frm_reactive.valid }}
    <br>
    Status: {{ frm_reactive.status }}
</pre>

<pre>
    {{ frm_reactive.value | json  }}
</pre>
