
<h1>Perfil de usuario</h1>
<hr>
<pre >
  <ul *ngIf="authService.user$ | async as user">
      <li>{{ user.name }}</li>
      <li>{{ user.email }}</li>
      <li>{{ user | json }}</li>
    </ul>
</pre>
