
<h1>Listado de Heroes</h1>
<hr>
<div class="row">
  <div class="col text-end">
    <button routerLink="/heroe/nuevo" type="button" class="btn btn-primary"> <i class="fas fa-plus mr-1"></i>&nbsp;&nbsp;Agregar&nbsp;&nbsp;</button>
  </div>
</div>
<table class="table mt-3 animate animate__fadeIn" *ngIf="dataHereos.length > 0">
  <thead class="table-dark">
    <tr>
      <td class="text-center"rowspan="2">#</td>
      <td class="text-center"rowspan="2">Nombre</td>
      <td class="text-center" rowspan="2">Poder</td>
      <td class="text-center" rowspan="2">Vivo</td>
      <td class="text-center" colspan="2">Opciones</td>
    </tr>
    <tr>
      <td class="text-center">Editar</td>
      <td class="text-center">Eliminar</td>
    </tr>
  </thead>
  <tbody>
    <tr *ngFor="let reg of dataHereos; let i = index;">
      <td class="text-center">{{ i + 1 }}</td>
      <td>{{ reg.NOM_HEROE }}</td>
      <td>{{ reg.PODER_HEROE }}</td>
      <td class="text-center"><span class="mt-3 badge" [ngClass]="{ 'bg-success': reg.ESTATUS, 'bg-danger': !reg.ESTATUS }" style="font-size: 14px;">{{ reg.LBL_VIVO }}</span></td>
      <td class="text-center"><button type="button" class="btn btn-outline-success rounded-circle" style="width: 45px; height: 45px;" data-bs-toggle="tooltip" data-bs-placement="top" title="Editar Registro" (click)="actualiarRegistro( i )"><i class="fas fa-edit"></i></button></td>
      <td class="text-center"><button type="button" class="btn btn-outline-danger rounded-circle" style="width: 45px; height: 45px;" data-bs-toggle="tooltip" data-bs-placement="top" title="Eliminar Registro" (click)="eliminarHeroe( i )"><i class="fas fa-trash-alt"></i></button></td>
    </tr>
  </tbody>
</table>
<div class="alert alert-warning text-center animated fadeIn animate__slow mt-4" role="alert" *ngIf="!loading && dataHereos.length == 0" >
  <h4 class="mb-3">No existen registros por mostrar</h4>
  <p class="mt-3"><i class="far fa-sad-tear fa-4x"></i></p>
</div>
<div class="alert alert-danger text-center animated fadeIn animate__slow  mt-4" role="alert" *ngIf="loading">
  <h4 class="mb-3">Su petici&oacute;n esta siendo procesada, espere un momento por favor...</h4>
  <p class="mt-3"><i class="fas fa-spinner fa-spin fa-4x"></i></p>
</div>
