<ion-header class="no-border">
    <ion-toolbar color="dark">
        <ion-buttons slot="start">
            <ion-back-button color="tertiary" defaulHref="/" ></ion-back-button>
        </ion-buttons>
        <ion-title>{{lista.TITULO}}</ion-title>
    </ion-toolbar>
</ion-header>
<ion-content color="dark">
    <ion-item color="dark">
        <ion-label position="floating">Nuevo item</ion-label>
        <ion-input type="text" [(ngModel)]="nombreItem" (keyup.enter)="agregarItem()"></ion-input>
    </ion-item>
    <ion-list>
        <ion-list-header color="dark">
            <ion-label>Tareas por hacer</ion-label>
        </ion-list-header>
        <ion-item color="dark" *ngFor=" let reg of lista.ITEMS; let i = index;" clase="animated fadeInDown">
            <ion-checkbox slot="start" color="tertiary" [(ngModel)]="reg.COMPLETADO" (ionChange)="cambioCheck( reg )" > </ion-checkbox>
            <ion-label>{{ reg.DESCRIPCION}}</ion-label>
        </ion-item>
    </ion-list>
</ion-content>
