<div class="limiter animated fadeInRight">
        <div class="container-login100">
            <div class="wrap-login100 p-t-50 p-b-90">
                <!--Aproximación por Templante-->
                <form (ngSubmit)="registrarUsuario( frm_registrar )"
                      #frm_registrar ="ngForm"
                       class="login100-form validate-form flex-sb flex-w">
                    <span class="login100-form-title p-b-51">
                        Crear nueva cuenta
                    </span>

                    <span *ngIf="usuario.email == null || usuario.email == '' " class="text-danger animated fadeIn">El correo es obligatorio 1</span>
                    <span *ngIf="frm_registrar.submitted && frm_registrar.controls['email'].errors" class="text-danger animated fadeIn">El correo es obligatorio 2</span>
                    <div class="wrap-input100 m-b-16">
                        <input class="input100"
                               type="email"
                               name="email"
                               [(ngModel)]="usuario.email"
                               required
                               email
                               placeholder="Email">
                        <span class="focus-input100"></span>
                      <!--[(ngModel)]="usuario.EMAIL"-->
                    </div>


                    <span *ngIf="usuario.seg_usuario == null || usuario.seg_usuario == '' " class="text-danger animated fadeIn">El nombre de usuario es obligatorio</span>
                    <span *ngIf="frm_registrar.submitted && frm_registrar.controls['nombre'].errors" class="text-danger animated fadeIn">El nombre de usuario es obligatorio</span>
                    <div class="wrap-input100 m-b-16">
                        <input class="input100"
                               type="text"
                               name="nombre"
                               required
                               minlength="2"
                               [(ngModel)]="usuario.seg_usuario"
                               placeholder="Nombre y apellidos">

                        <span class="focus-input100"></span>
                    </div>

                  <span *ngIf="usuario.password == null || usuario.password == '' " class="text-danger animated fadeIn">Ingrese una contraseña</span>
                  <span *ngIf="frm_registrar.submitted && frm_registrar.controls['pass'].errors" class="text-danger animated fadeIn">La contraseña debe tener una longitud min&iacute;ma de 6 caracteres</span>
                    <!-- <span class="text-danger">La contraseña debe de ser más de 6 letras</span> -->
                    <div class="wrap-input100 m-b-16">
                        <input class="input100"
                               type="password"
                               name="pass"
                               [(ngModel)]="usuario.password"
                               required
                               minlength="6"
                               placeholder="Password">
                        <span class="focus-input100"></span>
                      <!--[(ngModel)]="usuario.PASSWORD"-->
                    </div>

                    <div class="flex-sb-m w-full p-t-3 p-b-24">
                        <div class="contact100-form-checkbox">
                            <input class="input-checkbox100" id="ckb1" type="checkbox" name="remember-me" [(ngModel)]="recodar">
                            <label class="label-checkbox100" for="ckb1">
                                Recordar mi usuario
                            </label>
                        </div>

                        <div>
                            <a routerLink="/login" class="txt1">
                                ¿Ya tienes cuenta? / Ingresar
                            </a>
                        </div>
                    </div>

                    <div class="container-login100-form-btn m-t-17">
                        <button class="login100-form-btn" type="submit">
                            Crear cuenta
                        </button>
                    </div>

                </form>
            </div>
        </div>
    </div>

