<div class="row">
  <div class="col mb-4">
      <label for="termino_"></label>
      <input id="termino_" #termino type="text" (keyup)="buscarArtista( termino.value )"  class="form-control" placeholder="Buscar artista">
  </div>
  <div class="text-center" *ngIf="loading">
      <div class="spinner-border" role="status" style="height: 65px; width: 65px;"  >
        <span class="visually-hidden">Loading...</span>
      </div>
  </div>
</div>
<!--<div class="row row-cols-1 row-cols-md-3 g-4 text-center m-5">
    <div class="col-lg-4" *ngFor="let reg of artistas; let i = index;" >
        <div class="card">
            <img [src]="reg.images | validarImg" class="card-img-top" alt="...">
            <div class="card-body">
                <h5 class="card-title">{{ reg.name }}</h5>
                &lt;!&ndash;<p class="card-text"><span *ngFor="let artista of cancion.artists; let j = index;" class="badge rounded-pill bg-info text-dark" style="font-size: 14px;">{{ artista.name }}</span></p>&ndash;&gt;
            </div>
        </div>
    </div>
</div>-->
<div class="m-5"><app-tarjetas [items_target]="artistas"></app-tarjetas></div>
