<div class="row row-cols-1 row-cols-md-3 g-4 text-center animated fadeIn">
    <div class="col-lg-4 puntero" *ngFor="let cancion of items_target; let i = index;" (click)="verArtista( cancion )" >
          <div class="card">
              <img [src]="cancion.images[1] | validarImg " class="card-img-top" alt="...">
              <div class="card-body">
                  <h5 class="card-title">{{ cancion.name }}</h5>
                  <p class="card-text"><span *ngFor="let artista of cancion.artists; let j = index;" class="badge rounded-pill bg-info text-dark" style="font-size: 14px;">{{ artista.name }}</span></p>
              </div>
          </div>
      </div>
</div>
