<div class="container mt-5 animated fadeIn fast">
    <div class="p-5 rounded bg-light">
        <h1>Comic App</h1>
        <p class="lead">Esta es una aplicaci&oacute;n de Comics.</p>
    </div>
</div>
<div class="row">
    <div class="col">
        <label for="txt_1">Nombre:</label>
        <input type="text" id="txt_1" placeholder="Primera caja de texo">
    </div>
  <div class="col">
    <label for="txt_2">Apellido:</label>
    <input type="text" id="txt_2" placeholder="Primera caja de texo">
  </div>
  <div class="col mt-2">
    <label for="txt_3">Correo:</label>
    <input type="text" id="txt_3" placeholder="Primera caja de texo">
  </div>
</div>

<app-sobre></app-sobre>



