<div class="animate__delay-2s">
  <h1>H&eacute;roe</h1> <small>Nombre del héroe</small>
  <div class="row">
    <div class="col text-end">
      <button routerLink="/heroes" type="button" class="btn btn-danger"> <i class="fas fa-arrow-circle-left mr-1"></i>&nbsp;&nbsp;Regresar&nbsp;&nbsp;</button>
    </div>
  </div>
</div>
<div class="row animate__fadeIn animate__slow mt-5 mb-5">
  <div class="col card border-start-4 shadow border-info border-3">
    <div class="mt-5 mb-4">
      <form autocomplete="off" #frmHeroe="ngForm">
        <div class="row m-3">
          <div class="col text-end">
            <button type="button" class="btn btn-outline-danger rounded-circle" style="width: 45px; height: 45px;" data-bs-toggle="tooltip" data-bs-placement="top" title="Limpiar Formulario" (click)="limpiarFormulario( frmHeroe )"><i class="fas fa-eraser"></i></button>
          </div>
        </div>
        <div class="form-floating m-3" *ngIf="parametro.ID_HEROE != null">
          <!--#idHeroe="ngModel" [class.is-invalid]="idHeroe.invalid && idHeroe.touched"-->
          <input type="email" class="form-control" id="firebase_id" name="firebase_id" placeholder="Firebase ID" #idHereo="ngModel" [ngModel]="parametro.ID_HEROE" value="2" disabled>
          <label for="firebase_id">Firebase ID</label>
          <small class="form-text text-muted">Este campo es autogenerado</small>
        </div>
        <div class="form-floating m-3">
          <input type="text" class="form-control" id="nombre_heroe" name="nombre_heroe" placeholder="Nombre" #nomHeroe="ngModel" [class.is-invalid]="nomHeroe.invalid && nomHeroe.touched" [(ngModel)]="parametro.NOM_HEROE" required>
          <label for="nombre_heroe">Nombre</label>
          <small class="form-text text-danger" *ngIf="nomHeroe.invalid && nomHeroe.touched">Campo requerido</small>
        </div>
        <div class="form-floating m-3">
          <input type="text" class="form-control" id="poder_heroe" name="poder_heroe" placeholder="Poder" #poderHeroe="ngModel" [class.is-invalid]="poderHeroe.invalid && poderHeroe.touched" [(ngModel)]="parametro.PODER_HEROE" required>
          <label for="poder_heroe">Poder</label>
          <small class="form-text text-danger" *ngIf="poderHeroe.invalid && poderHeroe.touched">Campo requerido</small>
        </div>
        <div class="form-group row m-3">
          <label class="col-1 col-form-label">Estado:</label>
          <div class="col-8">
            <button type="button" class="btn btn-outline-primary" [class.btn-outline-danger]="!parametro.VIVO" (click)="validarHeroe()"><i class="" [ngClass]=" { 'far fa-smile-beam': parametro.VIVO , 'fas fa-skull-crossbones': !parametro.VIVO} "></i>&nbsp;&nbsp;{{parametro.LBL_VIVO}}&nbsp;&nbsp;</button>
          </div>
        </div>
      </form>
      <hr>
      <div class="form-group m-3 text-center">
        <button type="button" class="btn btn-success w-25" (click)="guardar( frmHeroe )"><i class="fas fa-save"></i>&nbsp;&nbsp;Guardar&nbsp;&nbsp;</button>
      </div>
    </div>
  </div>
</div>

